project:
  type: book

book:
  title: "JDemetra+ online documentation"
  author: "Stace documentation group"
  date: "12/01/2022"
  chapters:
    - index.qmd
    - G-what-is-jd.qmd
    - G-quick-start.qmd
    - G-main-features.qmd
    - A-sa.qmd
    - A-outlier-detection.qmd
    - A-calendar-and-input.qmd
    - A-sa-hf.qmd
    - A-benchmarking.qmd
    - A-trend-cycle-estimation.qmd
    - A-nowcasting.qmd
    - T-graphical-user-interface.qmd
    - T-r-packages.qmd
    - T-plug-ins.qmd
    - T-production.qmd
    - T-tool-selection.qmd
    - M-spectral-analysis.qmd
    - M-reg-arima-modelling.qmd
    - M-moving-average-decomposition.qmd
    - M-local-regression-decomposition.qmd
    - M-amb-decomposition.qmd
    - M-state-space-framework.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt

editor: visual

