/*-- scss:defaults --*/
$h2-font-size:          1.6rem;
$headings-font-weight:  500;
$body-color:            #212529;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
    /*text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);*/
    color: #e04e00;
  
}
