
main {
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    /*margin: 100px !important;*/
    text-align: justify !important;
    justify-content: center !important;
    background-color: #f2f6ff !important;
}


body {
    background-color: #ffffff !important;
}

nav {
    background-color: #f2f6ff !important;
}

pre {
    background-color: #EBEFF4;
    padding: 10px;
}

.path {
    color: #237116;
    font-family: "Consolas";
    font-size: 16px;
}

.image {
    max-width: 100%; /* Largeur maximale de l'image en pourcentage de l'espace disponible */
    height: auto; /* Hauteur automatique pour conserver les proportions d'origine */
    display: block; /* Pour centrer l'image horizontalement */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}

.figure-caption {
    text-align: center; /* Centrer le texte horizontalement */
}