
main {
    box-sizing: border-box;
    /*margin: 100px !important;*/
    text-align: justify !important;
    justify-content: center !important;
    background-color: #f2f6ff !important;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

body {
    background-color: #ffffff !important;
}

nav {
    background-color: #f2f6ff !important;
    padding: 20px;
}

pre {
    background-color: #EBEFF4;
}

/* Styles pour les caption des images fixes*/
figcaption {
    text-align: center;
    color: grey; /* Vous pouvez ajuster la couleur en fonction de vos préférences */
    font-size: 15px;
}

.path {
    color: #237116;
    font-family: "Consolas";
    font-size: 16px;
}

.image {
    max-width: 100%; /* Largeur maximale de l'image en pourcentage de l'espace disponible */
    height: auto; /* Hauteur automatique pour conserver les proportions d'origine */
    display: block; /* Pour centrer l'image horizontalement */
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}

.image-map-caption {
    text-align: center;
    color: grey; /* Vous pouvez ajuster la couleur en fonction de vos préférences */
    font-size: 15px;
}

.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, "Segoe UI";
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  /* transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word; */
}
